<a href="https://colab.research.google.com/github/Startledkitten/DAA_Kelompok5/blob/main/DAAPertemuan3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
alist = ["John", 33, "Toronto", True]
print(alist)

['John', 33, 'Toronto', True]

In [28]:
from datetime import date
tgl_v1 = date.today()
print(tgl_v1)

import datetime as vDate
hari = vDate.date.day

tanggal = vDate.date.today()
print(hari)
print(tanggal)

mahasiswa = ["Renee", "2024071006", "Informatika", "DAA", tanggal, "Universitas Pembangunan Jaya"]
print(mahasiswa)

2025-09-15
<attribute 'day' of 'datetime.date' objects>
2025-09-15
['Renee', '2024071006', 'Informatika', 'DAA', datetime.date(2025, 9, 15), 'Universitas Pembangunan Jaya']

In [3]:
from datetime import date
tgl_v1 = date.today()
print(tgl_v1)

import datetime as vDate
hari = vDate.date.day

tanggal = vDate.date.today()
print(hari)
print(tanggal)

mahasiswa = ["Renee", "2024071006", "Informatika", "DAA", f"{tanggal.day}-{tanggal.month}-{tanggal.year}", "Universitas Pembangunan Jaya"]
print(mahasiswa)

print("NIM:", mahasiswa[1])

2025-09-15
<attribute 'day' of 'datetime.date' objects>
2025-09-15
['Ranti', '2024072001', 'Informatika', 'DAA', '15-9-2025', 'Universitas Pembangunan Jaya']

In [29]:
print("NIM ", mahasiswa[1])
print("Kampus ", mahasiswa[5])

NIM  2024071006
Kampus  Universitas Pembangunan Jaya

In [22]:
print("NIM ", mahasiswa[1:2])

NIM  ['2024072001']

In [6]:
print("Prodi ", mahasiswa[2:3])

Prodi  ['Informatika']

In [7]:
print("Prodi ", mahasiswa[1:3])

Prodi  ['2024072001', 'Informatika']

In [23]:
print("Prodi ", mahasiswa[2:22])

Prodi  ['Informatika', 'DAA', '15-9-2025', 'Universitas Pembangunan Jaya']

In [15]:
bin_colors = ['Red', 'Green', 'Blue', 'Yellow']
print(bin_colors[0] + " square")
print(bin_colors[1] + " square")
print(bin_colors[2] + " square")
print(bin_colors[3] + " square")

for aColor in bin_colors:
  print(aColor)

Red square
Green square
Blue square
Yellow square
Red
Green
Blue
Yellow

In [16]:
upj = ("universitas","pembangunan","jaya")
print (upj)

('universitas', 'pembangunan', 'jaya')

In [17]:
nested_tuple = (100, (200, 400, 600), 300, (400, 800))
print (nested_tuple)

(100, (200, 400, 600), 300, (400, 800))

In [30]:
for item in mahasiswa:
  print("UPJ", item)

UPJ Renee
UPJ 2024071006
UPJ Informatika
UPJ DAA
UPJ 2025-09-15
UPJ Universitas Pembangunan Jaya

In [36]:
data_mahasiswa = {
    "Nama": "Renee Akbar N.S",
    "NIM": "2024071006",
    "Prodi": "Informatika",
    "Universitas": "UPJ"
}
print(data_mahasiswa)

{'Nama': 'Renee Akbar N.S', 'NIM': '2024071006', 'Prodi': 'Informatika', 'Universitas': 'UPJ'}